$offWhite: #fcfcfc;
$lightPurple: #994be3;
$deepPurple: #4a1e9e;
$lavender: #ddcbff;
$yellow: #e2bf2b;
$weirdBeige: #9e861e;
$darkGrey: #404040;
$heartyBlue: #0054A4;
$cornflower: #5666BA;
$thursday: #8696FE;
$newLavender: #C4B0FF;
$dashYellow: #ffc528;

:export {
    offWhite: $offWhite;
    lightPurple: $lightPurple;
    deepPurple: $deepPurple;
    lavender: $lavender;
    yellow: $yellow;
    weirdBeige: $weirdBeige;
    darkGrey: $darkGrey;
    heartyBlue: $heartyBlue;
    cornflower: $cornflower;
    thursday: $thursday;
    newLavender: $newLavender;
    dashYellow: $dashYellow;
}