@import "./colors.scss";

.button {
    margin: 5px;
    width: 150px;
    border-radius: 15px;
    background-color: $dashYellow;
}

.buttonTitle {
    color: $heartyBlue;
}

.stopButton {
    // @extend .button;
    width: 100%;
    margin: 2px;
    justify-content: flex-start;
}

.stopButtonTitle {
    // @extend .buttonTitle;
    text-align: left;
    font-size: 15;
}

.headerTitle {
    color: $heartyBlue;
}

.headerLeftTitle {
    color: $heartyBlue;
    font-size: 15;
    font-weight: bold;
}

.headerLeftIcon {
    margin: 0 5px;
    // width: 15px;
    // aspect-ratio: 1;
    // height: 20;
    // font-size: 15;
}

.container {
    // padding-top: 40px;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-bottom: 5px;
}

.columnContainer {
    @extend .container;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.column {
    // width: 50%;
}

.input {
    // background-color: black;
    // color: $offWhite;
    border-width: 2px;
    border-color: $lightPurple;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
}

.checkBoxContainer {
    background-color: transparent;
    border-width: 0px;
}

.checkBox {
    background-color: $offWhite;
    // color: $lightPurple;
}

.label {
    font-size: 20;
    font-weight: bold;
    // margin-top: 10px;
    margin: 10px 10px;
    color: $darkGrey;
}

.scrollView {
    width: 100%;
}

.scrollViewContainer {
    // align-items: center;
    padding: 2px;
}